* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header__section {
  background-color: rgb(13, 109, 252);
}
.logo__title {
  font-size: 28px;
  font-weight: bold;
  color: rgb(1, 20, 1);
  letter-spacing: 1px;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 600px;
}
.links a {
  color: black;
  text-decoration: none;
  font-size: 21px;
  font-weight: 500;
}
.links a:last-child {
  color: rgb(145, 3, 3);
  border: 2px solid rgb(145, 3, 3);
  padding: 6px;
  border-radius: 6px;
}
/* Main section */
.logins {
  border: 2px solid rgb(1, 234, 1);
  /* padding: 10px; */
  height: 600px;
  overflow-y: auto;
}
.code-line {
  border: 2px solid rgb(1, 234, 1);
  color: rgb(1, 234, 1);
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  padding: 10px;
}
.logs {
  color: rgb(1, 234, 1);
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
.stop-button,
.clear-button {
  padding: 10px;
  width: 49%;
  margin-top: 5px;
  font-weight: 600;
  letter-spacing: 1px;
}
.stop-button {
  background-color: rgb(1, 234, 1);
}
.clear-button {
  background-color: red;
  color: white;
}
/* scroll */
/* Scrollbar umumiy o‘lchami */
::-webkit-scrollbar {
  width: 10px; /* vertikal scroll uchun */
  height: 10px; /* gorizontal scroll uchun */
}

/* Scroll orqa fon (track) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Scrollning harakatlanuvchi qismi (thumb) */
::-webkit-scrollbar-thumb {
  background: rgb(1, 234, 1);
  border-radius: 10px;
}

/* Hover bo‘lganda */
::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 234, 1);
}
/* Table */
table {
  overflow-y: auto;
  height: 200px;
}
.hide {
  display: none;
}
.red {
  border: 2px solid red;
}
.blue {
  border: 2px solid blue;
}
.control-buttons {
  gap: 10px;
}
.control-buttons button {
  width: 250px !important;
}
