* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.admin {
  border: 2px solid rgb(13, 109, 252);
  background-color: rgb(13, 109, 252);
  border-radius: 10px;
  padding: 10px;
}
footer {
  position: absolute;
  bottom: 20px;
}
.red {
  border: 2px solid red;
}
.blue {
  border: 2px solid blue;
}
