@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
/* my profile */
.my_profile-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}
.my_profile {
  height: 80%;
  width: 40%;
  background-color: #373636;
  border-radius: 10px;
  opacity: 1;
}
.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.my-photo {
  display: block;
  width: 150px;
  height: 150px;
  border: 4px solid rgb(11, 11, 158);
  border-radius: 50%;
}
.my-name {
  color: #fcfcfe;
}
.follow-numbers {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.follow-number {
  color: cadetblue;
}
.show-modal {
  display: flex;
}
.hide {
  display: none;
}
/* /my profile */
.success__msg {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-self: flex-end;
  z-index: 200;
  right: 10px;
  /* width: 50%; */
}
.friend__notification div {
  display: flex;
}
/* header */
header {
  width: 100%;
  background-color: rgb(10, 10, 241);
}
.main-section {
  background-color: #212121;
  min-height: 534px;
  height: 92.8vh;
}
.row-element {
  height: 91.2vh;
}
.nav__box {
  padding: 5px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.logo__title {
  font-size: 28px;
  font-weight: bold;
  background: linear-gradient(45deg, #ff00cc, #3333ff);
  -webkit-background-clip: text; /* Safari, Chrome */
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Firefox */
  color: transparent;
}
.links a {
  color: rgb(21, 123, 212);
  text-decoration: none;
}
/* Buttons */
.search {
  background-color: rgb(16, 4, 180);
  border: 1px solid rgb(17, 8, 143);
}
.simple-btn {
  background-color: #343458;
  border: #343458;
  color: #efefef;
}
.search,
.simple-btn {
  margin: 2px 0px;
  color: whitesmoke;
  font-weight: 600;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
}
.search::placeholder {
  /* padding: 10px; */
  color: black;
}
/* Search Modal */
#search-modal {
  background-color: darkblue;
}
.contact__case {
  background-color: rgb(171, 200, 252);
  border: 2px solid rgb(171, 200, 252);
  width: 200px;
  padding: 0;
  border-top: none;
}
.followers {
  border: 2px solid rgb(171, 200, 252);
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  width: 100%;
  height: 307px;
  overflow-y: scroll;
  background-color: rgb(171, 200, 252);
}
.follower-item {
  border: 2px solid rgb(10, 36, 229);
  border-radius: 10px;
  margin: 5px;
  width: auto;
}
.img-follower {
  height: 10px;
  width: 40px;
  border-radius: 50%;
  margin: 5px;
}
.api-data p {
  display: inline-block;
  border: 2px solid red;
}
/* Scroll bar umumiy */
.followers::-webkit-scrollbar,
.messages::-webkit-scrollbar {
  width: 8px; /* kengligi */
}

/* Scrollning fon qismi */
.followers::-webkit-scrollbar-track,
.messages::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Scrollning tugmasi (thumb) */
.followers::-webkit-scrollbar-thumb,
.messages::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff00cc, #3333ff);
  border-radius: 10px;
}

/* Hover bo‘lganda */
.followers::-webkit-scrollbar-thumb:hover,
.messages::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff6600, #ff0066);
}
.person-profile {
  display: flex;
  align-items: center;
  gap: 1px;
  background-color: rgb(171, 200, 252);
}
.profile__img {
  width: 40px;
  height: 40px;
  border: 3px solid rgb(71, 205, 71);
  border-radius: 50%;
}
/* Message Box */
.message__box {
  background-image: url("/img/chat-bg.png");
  background-size: cover;
  /* background-position: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 2px; */
  /* margin-left: 5px; */
  /* box-shadow: 0 0 15px 5px rgba(13, 109, 252, 0.4); */
}
.friend__notification {
  display: flex;
  gap: 2px;
}
.friend__notification img,
p {
  margin: 1px;
}
.friend__notification p {
  line-height: 16px;
}
.profile__img_notif {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(7, 0, 207);
  border-radius: 50%;
}
/* extra tools */
.red {
  border: 2px solid red;
}
